<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PIE</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

</head>
<body>
	<div class="container">
		<h1 align="center">Análise de Dados </h1>

		<div id="container" style="width: 550px; height: 310px; margin: 0 auto"></div>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<div id="container" style="height: 80px"></div>
	<script th:inline="javascript">
		Highcharts.chart('container', {
			chart : {
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 65,
					beta : 0
				}
			},
			title : {
				text : 'DevWeb Graphics'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : [ [ 'Success', [[${pass}]] ], [ 'Failure', [[${fail}]] ]
				, [ 'up', [[${up}]] ], [ 'down', [[${down}]] ]  ]
			} ]
		});
	</script>
	  <div>
	    <h3 align="center">System Course Analitcs Technology Line Graph</h3>
	    <a href="/" class="btn btn-lg btn-primary">Inicio</a>			
      </div>
  	</div>      
 </body>
</html>